#modal {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  position:absolute;
  background: #2C333381;

  padding:8px;
}
  body {
    margin: 0
  }

  button{
    border: none;
    padding: 7px;
    background: #A5C9CA;
    border-radius: 8px;
    transition-duration: 0.4s;
  }
  button:hover{
    padding: 7px;
    background: #395B64;
    color: #E7F6F2;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}
.containerRow{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.h1{
  font-size: 15px;
  font-family: 'futura';
  color: #E7F6F2;
  text-align: left;

}
.noParticles {
  font-size: 20px;
  font-family: 'futura';
  width: 100px;
  color: rgb(0, 0, 0);
  text-align: left;
}